*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text {

    font-size: 1em;
    letter-spacing: 1.3px;
    color: #5a5a58;
    text-transform: uppercase;
    line-height: 0.70em;
    outline: none;
    text-align-last: center;
    margin-bottom: 320px;
    animation: animate 5s linear infinite;
}

@keyframes animate {

    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
        color :#5a5a58;
        text-shadow: none;
    }
    18.1%, 20.1%,30%,50%,60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
        color :#F0EFEB;
        text-shadow: 0 0 0px #F0EFEB,
        0 0 2px #F0EFEB,
        0 0 8px #F0EFEB,
        0 0 10px #F0EFEB,
        0 0 20px #F0EFEB,
        0 0 40px #F0EFEB;
      
    }
}
